.clear {clear: both;}
.left {float: left;}
.right {float: right;}

.reveal section img.rotate {
	border: none;
	background: none;
	margin: 0;
	box-shadow: none;
	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.zend {text-decoration: line-through;font-weight: bold;color: #ff0;}
.punti_forza small {vertical-align: middle;}